@import './ColourPalette.css';
@import './NavBar.css';
@import './Tabs.css';
@import './CalendarStyles.css';
@import './Messages.css';
@import './Bookings.css';
@import './Buttons.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

#root {
    height: 100vh;
}

:focus-visible {
    outline: transparent;
}
* {
    margin: 0px;
    font-size: var(--p1-font-size);
    font-family: Outfit, sans-serif;
}

.calendar-carousel {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-right: 32px;
}

.calendar-carousel .student-avatar,
.calendar-carousel .booking-date,
.calendar-carousel .cancel-x {
    display: none;
}
.calendar-carousel .name-subject {
    flex-direction: row;
    font-weight: 700;
    justify-content: center;
}
.calendar-carousel .booking-row-info {
    flex-direction: column;
    align-items: flex-start;
}
.calendar-carousel svg {
    width: 60%;
}

.calendar-carousel .tag {
    padding: 1px 6px;
}

.calendar-carousel .subject::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 15px;
    background-color: var(--grey-1);
    margin: 0px 4px;
}

.calendar-carousel .booking-row {
    align-self: stretch;
}

.calendar-carousel .lesson-freq {
    flex-direction: row;
}
html {
    font-size: 100%;
} /*16px*/

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5 {
    /* margin: 3rem 0 1.38rem; */
    font-family: 'Outfit', sans-serif;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: var(--h1-font-size);
    color: var(--grey-1);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

p {
    font-size: var(--p1-font-size);
}

.level-qtn {
    display: flex;
}

.level-qtn span {
    font-weight: 600;
    margin: 0px 3px;
}
.pills {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}
.pill-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid var(--primary-color-default);
    box-sizing: border-box;
    border-radius: 100px;

    font-weight: 600;
    gap: 8px;
}
#subject-select {
    width: 100%;
}
#signup-extra {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.pill-qtn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.pill-btn svg {
    fill: var(--primary-color-default);
    width: 16px;
    height: auto;
}
.inactive-pill {
    background: var(--grey-7);
    stroke: var(--primary-color-default);
    color: var(--primary-color-default);
    fill: var(--primary-color-default);
}
.active-pill {
    background: var(--primary-color-default);
    color: var(--grey-7);
}

.active-pill svg {
    fill: var(--grey-7);
}
.moon:hover {
    fill: var(--grey-1);
    stroke: var(--grey-1);
}

.sun,
.moon {
    fill: none;
    stroke: var(--grey-1);
    stroke-width: 32px;
    width: 24px;
    height: auto;
}

.sun:hover {
    fill: var(--grey-1);
    stroke: var(--grey-1);
}

#main {
    width: 100%;
}

.modal-background {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.student-avatar {
    display: block;
    width: 50px;
    height: 50px;
    font-weight: 700;
    color: var(--grey-1);
    letter-spacing: 0.05em;
    font-size: var(--h5-font-size);
    border: none;
    box-shadow: 0px 3px 6px var(--grey-5);
    background-color: var(--accent-2-color-default); /* Remove this */
}

.subject-dtls-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subject-dtls-title svg {
    width: 16px;
    height: 16px;
    stroke: var(--grey-1);
    stroke-width: 12px;
    fill: var(--grey-1);
}

.subject-dtls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: stretch;
}

.dtl-content {
    justify-self: end;
}

.dtl-title {
    color: var(--grey-2);
}

.student-summary {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 12px;
}

.student-summary .student-avatar {
    grid-row: 1 / span 2;
}
.bookings-side-panel .accordion-item {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 0;
    gap: 12px;
    align-self: stretch;
}
.bookings-side-panel {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: var(--grey-7);
    width: 60vw;
    height: 60%;
    position: fixed;
    overflow-x: hidden;
    padding: 0;
}
.bookings-side-panel span {
    margin: 0px 32px;
}
#bookings-date {
    margin: 0px 32px 24px;
}

#darkMode {
    background: transparent;
    border-color: transparent;
}

input {
    font-size: var(--p1-font-size);
    align-self: center;
}

.input-div {
    border: 2px solid var(--grey-5);
    box-sizing: border-box;
    border-radius: 7px;
    height: 40px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-div svg {
    width: 24px;
    height: 24px;
    stroke: var(--grey-1);
    stroke-width: 4px;
}
.input-div .search {
    stroke: var(--grey-4);
    margin-right: 12px;
}
button {
    box-sizing: border-box;
    border-radius: 7px;
    font-family: Outfit, sans-serif;
    border-style: none;
    background-color: transparent;
    padding: 0px;
    align-content: center;
}
.cancel {
    color: var(--rag-error-default);
}
.error-btn {
    border: 2px solid var(--rag-error-default);
    background-color: var(--grey-7);
    color: var(--rag-error-default);
    font-size: var(--p1-font-size);
    font-weight: 600;
    padding: 8px 16px;
}

.error-div {
    border: 2px solid var(--rag-error-default);
    background-color: var(--grey-7);
    color: var(--rag-error-default);
    font-size: var(--p1-font-size);
    font-weight: 600;
    padding: 0px 16px;
    display: flex;
}
.error-msg {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 8px;
}

.error-msg p {
    color: var(--rag-error-default);
}
.error-msg svg {
    width: 16px;
    height: 16px;
    stroke: var(--rag-error-default);
    stroke-width: 40px;
    align-self: center;
}

.input-field {
    border: none;
    background: transparent;
    margin: 0px;
    height: 100%;
    align-self: stretch;
}

.two-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

.close-btn svg {
    fill: var(--grey-4);
    width: 16px;
    height: auto;
}

.close-div {
    display: flex;
    align-self: stretch;
    padding: 16px 0 0;
    justify-content: flex-end;
}

.close-div .close-btn {
    margin-right: 16px;
}

.have-you {
    display: inline-flex;
}

.cancel-warning {
    fill: var(--rag-error-default);
    stroke: var(--rag-error-default);
    stroke-width: 2px;
    width: 24px;
    height: auto;
}

.booking-calendar {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: stretch;
    column-gap: 8px;
}

.booking-calendar span {
    text-align: right;
    font-weight: bold;
    font-size: var(--p2-font-size);
    color: var(--grey-2);

}

.start-date {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    align-self: start;
    padding-top: 8px;
}
.end-date {
    grid-row: 2 / -1;
    grid-column: 1 / 1;
    align-self: end;
    padding-bottom: 12px;
}

.booking-frequency {
    color: var(--primary-color-default);
}

.calendar-booking-row {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 1 / -1;
    grid-column: 2 / -1;
}

.vertical-line {
    border-left: 7px solid var(--accent-1-color-default);
    align-self: stretch;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



.cancel-modal {
    display: flex;
    width: 75vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    gap: 24px;
    background: var(--grey-7);
    border: 1px solid var(--grey-5);
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: var(--shadow-level-1);
}

.cancel-modal-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.modal-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 16px;
    align-self: stretch;
    padding: 0px 24px;
}

.cancel-modal-content {
    margin: 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.cancel-modal span {
    font-weight: 600;
}

.cancel-modal hr {
    align-self: stretch;
    border-top: 0.5px solid var(--grey-5);
    margin: 0px 24px;
}
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
input:-ms-input-placeholder {
    color: var(--grey-4);
    opacity: 1;
}

input::placeholder {
    color: var(--grey-4);
    opacity: 1;
}

input::-ms-input-placeholder {
    color: var(--grey-4);
    opacity: 1;
}

.eye-hide {
    fill: var(--grey-1);
}

.page-title .input-div {
    display: none;
}

.tag {
    font-weight: 500;
    font-size: var(--p2-font-size);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 8px;
    border-radius: 7px;
}

.awaiting {
    background: var(--rag-warning-light);
    color: var(--rag-warning-darkest);
}

.cancelled {
    background: var(--rag-error-light);
    color: var(--rag-error-dark);
}

.confirmed {
    background: var(--rag-success-light);
    color: var(--rag-success-darkest);
}

.booking-row {
    background-color: var(--grey-7);
    border: 0.3px solid var(--grey-5);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    gap: 16px;
}
.booking-row .student-avatar {
    margin-left: 16px;
}

#bookings-content .booking-student-name {
    font-weight: 600;
}

.booking-row-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    flex-grow: 1;
}

.booking-2-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.side-student-dtls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 0px 32px;
}

.cancel-x svg {
    stroke: var(--rag-error-default);
    stroke-width: 40px;
    width: 16px;
    height: auto;
}

.cancel-x {
    display: flex;
    width: 48px;
    align-self: stretch;
    justify-content: center;
    flex-shrink: 0;
}

.cancel-x:hover {
    background-color: var(--rag-error-light);
}

.cancel-modal-background {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Tablet (S) */
@media screen and (min-width: 867px) {
    #main-with-nav {
        display: flex;
        flex-basis: 0;
        flex-direction: row;
        height: 100vh;
    }
    #main {
        margin-left: 88px;
    }
    #bookings-content {
        padding: 24px 32px 0px;
        width: calc(100% - 368px);
    }
    .bookings-side-panel {
        display: block;
        width: 304px;
        height: 100vh;
        background-color: var(--grey-7);
        top: 0px;
        bottom: 0px;
        right: 0px;
        border: 1px solid var(--grey-6);
        box-shadow: -1px 0px 20px var(--shadow-level-2);
    }

    .modal-background {
        background-color: transparent;
        z-index: auto;
    }

    #bookings-screen {
        display: flex;
        flex-direction: row;
        background-color: var(--grey-6);
        height: 100%;
    }
    .page-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 32px;
        background-color: var(--grey-7);
        border: 1px solid var(--grey-6);
        position: sticky;
    }
    .page-title .input-div {
        display: flex;
    }
}
/* @media only screen and (min-width: ) {
  
} */
