@import './ColourPalette.css';
@import './NavBar.css';
@import './Tabs.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

#root {
    height: 100vh;
}

:focus-visible {
    outline: transparent;
}
* {
    margin: 0px;
    color: var(--grey-1);
    font-family: Outfit, sans-serif;
}

html {
    font-size: 100%;
} /*16px*/

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5 {
    /* margin: 3rem 0 1.38rem; */
    font-family: 'Outfit', sans-serif;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: var(--h1-font-size);
    color: var(--grey-1);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
        font-size: var(--h3-font-size);


}

h4 {
        font-size: var(--h4-font-size);

}

h5 {
        font-size: var(--h5-font-size);


}

.moon:hover {
    fill: var(--grey-1);
    stroke: var(--grey-1);
}

.sun,
.moon {
    fill: none;
    stroke: var(--grey-1);
    stroke-width: 32px;
    width: 24px;
    height: auto;
}

.sun:hover {
    fill: var(--grey-1);
    stroke: var(--grey-1);
}


#main {
    width: 100%;
}

.modal-background {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.student-avatar {
    width: 55px;
    height: 55px;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--grey-1);
    letter-spacing: 0.05em;
    font-size: 22px;
    border: none;
    box-shadow: 0px 3px 6px var(--grey-5);
    background-color: var(--accent-2-color-default); /* Remove this */
}

.subject-dtls-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subject-dtls-title svg {
    width: 16px;
    height: 16px;
    stroke: var(--grey-1);
    stroke-width: 12px;
    fill: var(--grey-1);
}

.subject-dtls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.student-summary {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 24px;
}

.student-summary .student-avatar {
    grid-row: 1 / span 2;
}
.bookings-side-panel .accordion-item {
    margin-bottom: 24px;
}
.bookings-side-panel {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: var(--grey-7);
        width: 60vw;
    height: 60%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 32px 32px;
}

#bookings-date {
    margin-bottom: 24px;
}

#darkMode {
    background: transparent;
    border-color: transparent;
}

input {
    font-size: 1rem;
    align-self: center;
}

.input-div {
    border: 2px solid var(--grey-5);
    box-sizing: border-box;
    border-radius: 7px;
    height: 40px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-div svg {
    width: 24px;
    height: 24px;
    stroke: var(--grey-1);
    stroke-width: 4px;
}
.input-div .search {
    stroke: var(--grey-4);
    margin-right: 12px;
}
button {
    box-sizing: border-box;
    border-radius: 7px;
    font-family: Outfit, sans-serif;
    border-style: none;
    background-color: transparent;
    padding: 0px;
    align-content: center;
}
.cancel {
    color: var(--rag-error-default);
}
.error-btn {
    border: 2px solid var(--rag-error-default);
    background-color: var(--grey-7);
    color: var(--rag-error-default);
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 16px;
}

.error-div {
    border: 2px solid var(--rag-error-default);
    background-color: var(--grey-7);
    color: var(--rag-error-default);
    font-size: 1rem;
    font-weight: 600;
    padding: 0px 16px;
    display: flex;
}
.error-msg {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 8px;
}

.error-msg p {
    color: var(--rag-error-default);
}
.error-msg svg {
    width: 16px;
    height: 16px;
    stroke: var(--rag-error-default);
    stroke-width: 40px;
    align-self: center;
}

.input-field {
    border: none;
    background: transparent;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.two-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text-link {
    display: flex;
    flex-direction: row;
    gap: 4px;
    text-decoration: none;
}
.text-link p {
    color: var(--primary-color-default);
}

.text-link svg {
    width: 16px;
    height: auto;
    stroke: var(--primary-color-default);
    stroke-width: 45px;
}

.close-btn svg {
    fill: var(--grey-4);
    width: 16px;
    height: auto;
}

.close-div {
    display: flex;
    width: 100%;
    padding: 16px 0 0;
    justify-content: flex-end;
}

.have-you {
    display: inline-flex;
}

.std-btn {
    background-color: var(--primary-color-default);
    border: 2px solid var(--primary-color-default);
    color: var(--grey-7);
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 16px;
}

input:-ms-input-placeholder {
    color: var(--grey-4);
    opacity: 1;
}

input::placeholder {
    color: var(--grey-4);
    opacity: 1;
}

input::-ms-input-placeholder {
    color: var(--grey-4);
    opacity: 1;
}

.eye-hide {
    fill: var(--grey-1);
}

/* Tablet (S) */
@media screen and (min-width: 867px) {
    #main-with-nav {
        display: flex;
        flex-basis: 0;
        flex-direction: row;
        height: 100vh;
    }
    #main {
        margin-left: 88px;
    }
    #bookings-content {
        padding: 32px;
    }
    .bookings-side-panel {
        display: block;
        width: 304px;
        height:100vh;
        background-color: var(--grey-7);
        top: 0px;
        bottom: 0px;
        right: 0px;
        border: 1px solid var(--grey-6);
        box-shadow: -1px 0px 20px var(--shadow-level-2);
    }
    
    .modal-background {
        background-color: transparent;
        z-index: 0;
    }

    #bookings-screen {
        display: flex;
        flex-direction: row;
    }
}
/* @media only screen and (min-width: ) {
  
} */
