@import './ColourPalette.css';
.message-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--grey-5);
}

.messages-page-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.new-message {
    width: 32px;
    height: auto;
    fill: var(--grey-1);
    stroke: var(--grey-1);
}
.send-icon {
    width: 24px;
    height: auto;
}

.active-send {
    fill: var(--primary-color-default);
}

.inactive-send {
    fill: var(--grey-4);
}

.send-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    background: var(--grey-6);
    border: 1px solid var(--grey-5);
    box-sizing: border-box;
    border-radius: 7px;
    gap: 24px;
    bottom: 40px;
}

.send-message-input-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.send-message-input {
    border: none;
    background-color: transparent;
}
.send-extra-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}
.send-extra-icons svg {
    width: 24px;
    height: auto;
    stroke: var(--grey-1);
    fill: var(--grey-1);
}


.messages-list {
    height: 100%;
    padding: 32px;
}