@import './ColourPalette.css';

#bottom-nav {
    background: var(--grey-7);
    border-top: 0.05px solid var(--grey-5);
    box-shadow: 0px -1px 20px var(--shadow-level-1);
    display: flex;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    padding: 8px 5vw 16px;
    justify-content: space-between;
    z-index:1;
}

#bottom-nav a {
    width: 65px;
}

.nav-bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: var(--grey-1);
    font-weight: 600;
}

.nav-bar-item svg {
    stroke: var(--grey-1);
    width: 32px;
    height: auto;
}
#requestsQuestion {
    fill: var(--grey-1);
}
.activeButton #requestsQuestion {
    fill: var(--primary-color-default);
}

.activeButton svg,
.activeButton span {
    stroke: var(--primary-color-default);
    fill: var(--primary-color-light);
    color: var(--primary-color-default);
}

.nav-label {
    text-decoration: none;
    font-weight: 600;
    font-size: var(--p3-font-size);
}

#side-nav {
    display: none;
}

.active-nav-bar-item {
    stroke: var(--primary-color-default);
    fill: var(--primary-color-light);
}

/* Tablet (S) */
@media screen and (min-width: 867px) {
    #bottom-nav {
        display: none;
    }
    #side-nav {
        /* flex-basis: 0;
            flex-grow:  0; */
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 88px;
        height: 100vh;
        background: var(--grey-7);
        box-shadow: 0px -1px 20px rgba(176, 176, 176, 0.25);
        left: 0px;
        top: 0px;
        position: fixed;

        /* padding: 8px 16px 16px; */
        /* justify-content: space-between; */
    }

    #side-nav span {
        font-size: var(--p3-font-size);
    }

    #side-nav-items svg {
        margin: 0px 0px 8px 0px;
        width: 32px;
        height: auto;
    }

    #side-nav-items {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 2;
        justify-content: center;
        gap: 48px;
    }
    .logo {
        height: 90px;
        width: 100%;
    }
    .dark-mode-btn {
        display: flex;
        border-top: 1px solid var(--grey-5);
        height: 80px;
        margin-top: 32px;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
}
